  <% provide :title, @user.name %>
  <div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
        <br/>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.entries.any? %>
      <h3><%= t ".posts" %> (<%= t ".total" %><%= @user.entries.count %> <%= t ".post" %>)
      <% if current_user?(@user) %>
        <%= link_to t("entry.create_entry"), entry_path, class: "btn btn-lg btn-primary" %>
      <% end %>
      </h3>
      <%= will_paginate @entries %>
      <ol class="entries">
        <%= render @entries %>
      </ol>
      <%= will_paginate @entries %>
    <% end %>
  </div>
</div>
